---
---

@import "{{ site.theme }}";

body {
    background-color: #1D232A;
}
  
h1 {
    text-align: center;
    margin-top: 40px;
}

h2 {
    background-color: #04290c;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align:left;
}

p {
    color: #90A7BB;
    margin-bottom: 30px;
    font-size: 16px;
}

footer {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5;
    padding-bottom: 150px;
}