---
---

@import "{{ site.theme }}";

/* 

Font

*/
:root {
    font-family: Inter, Helvetica, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, Helvetica, sans-serif; }
  }

/* 

Text elements Text elements Text elements 

*/
html, body {
    overflow-x: hidden;
}
.reader {
    color: #b39c89!important;
}

h1 {
    text-align: center;
    color: #c9c9c9;
    margin-top: 40px;
}
    .bt {
        display: block;
        align-items: stretch;
        width: 110%;
        margin-left: auto!important;
        margin-right: auto!important;
        margin: auto!important;
        text-align: left;
        color: #c4c4c4!important;
        font-size: 45px;
        font-weight: bold!important;
        word-spacing: -2px!important;
        border-left: 40px;
    }

h2 {
    color: #c4c4c4!important;
    margin-top: 40px;
    font-weight: bold!important;
    text-align:left;
    margin-bottom: 0rem!important;
}

h3 {
    color: #c4c4c4!important;
    font-weight: bold!important;
    margin-bottom: 2px!important;
}

p {
    color: #c4c4c4;
    margin-top: 0rem;
    margin-bottom: 30px;
    font-size: 17px;
    word-spacing: 1px;
}
.pp {
    padding-left: 20px;
    padding-right: 20px;
    color: #a3a3a3;
}
.ref {
    font-size: 60%;
    color: #747474;
}
/*

Descriptions

*/
.desc {
    color: #A6A6A6;
    font-size: 16px;
    padding-bottom: 15px;
    font-style: italic;
}

/* 

Extra html elements Extra html elements Extra html elements 

*/
hr {
    display: block;
    height: 10px;
    border: 20px#ccc;
    border-radius: 5px;
    padding: 0;
}

hr.divider {
    display: block;
    height: 3px;
    width: 30%;
    border-radius: 50%;
    //padding: 0;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: #c4c4c4; 
}
    a.button {
        /*TOP RIGHT BOTTOM LEFT*/
        padding: 6px 17px 7px 17px;
        text-decoration: none;
        color: #c4c4c4;
        font-size: 17px;
        transition: 0.1s;
    }
        a.button:hover {
            background-color: #202020;
            color: #f1f1f1;
            font-size: 18px;
        }
    a.button.cr {
        font-size: 16px;
    }

.navb {
    height: 5px;
    margin: 0em 0;
    bottom: 0;
    padding: 21px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
// CHANGE
footer {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 120px;
    margin-top: 0rem;
}
    .site-footer { 
        margin: 0 0em;
        padding-top: 80px;
        border-top: solid 2px #eff0f1;
        font-size:15px;
        line-height: 20px;
    }

.page-header {
        height: 280px;
        background-color: #0d0e0e;
        position: relative;
}

.main-content {
    background-color: #101212;
    flex: 1;
}

.container {
    display:flex;
    max-width: 1400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #161818;
    margin: 0 auto;
}
ol {
    color: #a3a3a3;
}

ol.small {
    font-size: 85%;
}

.g {
    color: #183a1d;
}

.navtext a {
    list-style: circle;
    text-decoration: none;
    color: #f1f1f1;
    padding-left: 20px;
}
.navtext a:hover {
    color: #7DB5D4;
}
/*

Sidebar menu Sidebar menu Sidebar menu

*/

.sidenav {
    height: 100%;
    width: 195px;
    position: fixed;
    z-index: 1;
    top: 280px;
    bottom: 0;
    overflow-y: auto; 
    overflow-x: hidden; /*Disables horizontal scroll*/
    background-color: #101212;
    padding-top: 40px;
    padding-left: 20px;
    border-right: 3px solid #333;
}
    /*Sidebar menu buttons*/
    .sidenav a {
        font-size: 20px;
        display: block;
    }
        .sidenav a:hover {
            border-right: 2px solid #7DB5D4;
        }
    .sidenav .closebtn {
        text-align: right;
        padding-right: 20px;
        text-decoration: none;
        color: #c4c4c4;
        font-size: 35px;
        border-bottom: 2px solid #333;
    }
        .sidenav a.closebtn:hover {
            background-color: #202020;
            color: #f1f1f1;
        }

    .openbtn {
        text-align: right;
        font-size: 30px;
        color: #c4c4c4;
        background-color: #161818;
        cursor: pointer;
        /*TOP RIGHT BOTTOM LEFT*/
        padding: 6px 20px 6px 51px;
        width: 172px;
        border: none;
        border-radius: 2%;
        display: none;
        transition: 0.3s;

    }
    .openbtn:hover {
        background-color: #444;
        color: #f1f1f1;
        border-right: 2px solid #7DB5D4;
    }
        .sideopn {
            position: absolute;
            height: 100px;
            width: 188px;
            z-index: 1;
            top: 280px;
            bottom: 0;
            overflow-y: auto; 
            overflow-x: hidden; /*Disables horizontal scroll*/
            background-color: #161818;
            padding-top: 40px;
            padding-left: 20px;

        }

/*

Reader Mode Reader Mode Reader Mode

*/

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 50px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "\1F56E";
    text-align: center;
    height: 23px;
    width: 23px;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #b39c89;
}

input:focus + .slider {
    box-shadow: 0 0 1px #b39c89;
}

input:checked + .slider:before {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
}

.slider.round {
    border-radius: 3px;
}

.slider.round:before {
    border-radius: 0%;
}

/* 

Image formatting Image formatting Image formatting Image formatting

*/
img {
    max-width: 900px;
    max-height: 500px;
    display: block;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    width:  832px;
    height: 450px;
    background-color: black; /* Fill extra space with black */
    object-fit: cover;
}

.image-container img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: contain; /* Crop the image to fit the container */
    object-position: center;
    
}

/* 

Image progress dots

*/
.prog-bar {
    text-align: center;
    padding-top: 10px;
}

.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: 15px;
    margin: 0 2px;
    background-color:#bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.dot.active {
    background-color: #333;
}

/*

Sidebar size on medium size / change to top nav bar at x amount

*/

@media (max-width: 1260px) {
    a.button {
        width: 170px;
        display: inline-block;
    }
    a.closebtn {
        width: 5%;
        display: inline;
    }
    .sidenav {
        width: 100%;
        position: static;
        display: inline;
        height: 65px;
        padding-top: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #333;
    }
    .openbtn {
        background-color: #101212;
    }
    .sideopn {
        background-color: #101212;
        padding-top: 6px;
    }
    .main-content {
        margin-left: 0;
    }
}

/*

PHONE SIZING

*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media (max-width: 480px){
    .bt {
        font-size: 150%;
    }
    .image-container {
        width: auto;
        height: auto;
    }
    .main-content {
        width: 100%;
        width: fit-content;
    }
    p {
        width: 90%;
        width: fit-content;
        block-size: fit-content;
        height: auto;
    }
    .sidenav {
        height: 100%;
        width: 40%;
        opacity: 95%;
    }
    a.button {
        display:block;
        width: 30%;
        font-size: 100%;
        /*TOP RIGHT BOTTOM LEFT*/
        padding: 6px 6px 7px 6px;
    }
    a.closebtn {
        font-size: 30%;
        text-align: center;
        width: 50%;
        display: column;
        border: none;
    }
    .sidenav.closebtn {
        width: 50%;
    }
    .sideopn {
        width: 40%;
        padding: none;
        
    }
    .openbtn {
        width: 40%;
        text-align: center;
    }

}

/*

Debugging
.sidenav { border: 1px solid red; }
.main-content { border: 1px solid blue;}

*/
