---
---

@import "{{ site.theme }}";

body {
    background-color: #1D232A;
  }
  
  h1 {
    color: #267CB9;
    margin-top: 100px;
  }
  h2 {
    color: #2B2B2B;
    background-color: #5A8BBB;
    margin-top: 100px;
    text-align:left;
  }

  p {
    color: #90A7BB;
    margin-bottom: 50px;
    font-size: 20px;
  }